body {
    margin: 0;
    font-family: 'Anonymous_Pro', sans-serif;
    background-color: #1d1e20;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    color: #333;
}

/* Estilo para o container principal */
.container {
    display: flex;
    width: 100%;
}

h1 {
    color: #444;
    font-size: 32px;
    font-family: 'Anonymous_Pro', serif;
    font-weight: 700; /* Bold */
}

p {
    color: #868585;
    line-height: 1.6;
}

/* Fonte Regular */
@font-face {
    font-family: 'Anonymous_Pro';
    src: url('../fontes/Anonymous_Pro/AnonymousPro-Regular.ttf') format('truetype');
    font-weight: 400; /* Peso normal (regular) */
    font-style: normal;
    font-display: swap;
}

/* Fonte Bold */
@font-face {
    font-family: 'Anonymous_Pro';
    src: url('../fontes/Anonymous_Pro/AnonymousPro-Bold.ttf') format('truetype');
    font-weight: 700; /* Peso bold */
    font-style: normal;
    font-display: swap;
}

/* Fonte Italic */
@font-face {
    font-family: 'Anonymous_Pro';
    src: url('../fontes/Anonymous_Pro/AnonymousPro-Italic.ttf') format('truetype');
    font-weight: 400; /* Peso normal */
    font-style: italic; /* Estilo itálico */
    font-display: swap;
}

/* Fonte Bold Italic */
@font-face {
    font-family: 'Anonymous_Pro';
    src: url('../fontes/Anonymous_Pro/AnonymousPro-BoldItalic.ttf') format('truetype');
    font-weight: 700; /* Peso bold */
    font-style: italic; /* Estilo itálico */
    font-display: swap;
}

/* Fonte regular */
@font-face {
    font-family: 'Amonos_Display';
    src: url('../fontes/Amonos_Display/amonos_display-regular.ttf') format('truetype');
    font-weight: 400; /* Peso bold */
    font-style: italic; /* Estilo itálico */
    font-display: swap;
}