/* Estilos gerais */
.graficos-container {
    margin-left: 80px; /* Respeita o espaço do menu */
    padding: 20px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    width: calc(100% - 50px);
    max-width: 1200px;
    gap: 20px;
}

/* Título da página */
.graficos-title {
    text-align: center;
    font-size: 2.5rem;
    color: #fff;
    position: relative;
    margin-bottom: 20px;
    margin-top: 50px;
}

/* Novo divider para o título principal */
.graficos-title-divider {
    width: 150px;
    height: 3px;
    background: linear-gradient(90deg, transparent, #f5db46, transparent);
    margin: 15px auto 30px;
    border-radius: 3px;
}

.graficos-title-wrapper {
    text-align: center;
    margin-bottom: 20px;
}

/* Subtítulos */
.graficos-subtitle {
    font-size: 1.8rem;
    color: #ffcc00; /* Amarelo */
    margin-bottom: 10px;
}

/* Wrapper dos gráficos */
.grafico-wrapper {
    width: calc(100% - 50px); /* Limita a largura e adiciona margem à direita */
    height: 50vh; /* Ocupa 50% da altura restante */
    background: #1e1e2f;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    overflow: hidden; /* Impede que o gráfico ultrapasse o container */
}

/* Canvas do gráfico */
canvas {
    max-width: 100%; /* Garante que o gráfico não ultrapasse o container */
    height: auto !important; /* Mantém a proporção do gráfico */
}

/* Legenda */
.legenda-ranking, .legenda-desempenho {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-top: 10px;
}

.item-legenda {
    display: flex;
    align-items: center;
    gap: 5px;
}

.cor-legenda {
    width: 15px;
    height: 15px;
    border-radius: 50%;
}

.nome-grupo {
    color: #fff;
    font-size: 0.9rem;
}

/* Tabela de Desempenho */
.tabela-desempenho {
    width: calc(100% - 50px); /* Ocupa todo o espaço em X, menos 50px da margem direita */
    height: calc(50vh - 60px); /* Ocupa o espaço restante em Y, menos o espaço dos subtítulos */
    background: #1e1e2f;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    overflow-y: auto; /* Adiciona scroll vertical quando necessário */
}

.tabela-desempenho table {
    width: 100%;
    border-collapse: collapse;
    color: #fff;
}

.tabela-desempenho th,
.tabela-desempenho td {
    padding: 12px 8px;
    text-align: left;
    border-bottom: 1px solid #444;
}

.tabela-desempenho th:nth-child(4),
.tabela-desempenho td:nth-child(4) {
    text-align: center;
    width: 100px;  /* Largura fixa para a coluna de respostas */
}

.tabela-desempenho th {
    background-color: #2c2c3a;
    font-size: 1.1rem;
}

.tabela-desempenho td {
    font-size: 1rem;
}

/* Ícones de medalha */
.medalha {
    margin-right: 8px;
    font-size: 1.2rem;
}

.medalha-ouro {
    color: #ffd700; /* Cor do ouro */
}

.medalha-prata {
    color: #c0c0c0; /* Cor da prata */
}

.medalha-bronze {
    color: #cd7f32; /* Cor do bronze */
}