<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <title>Solicitação de Participação</title>
    <link rel="icon" href="{{ url_for('static', filename='imagens/favicon.ico') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/base.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/menu.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/group_request.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/cronometro.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
</head>
<body>
    
    <!-- Inclui o menu -->
    {% include 'menu.html' %}

    <!-- Adiciona o cronômetro -->
    {% include 'cronometro.html' %}

    <!-- Inclui o JavaScript do cronômetro -->
    <script src="{{ url_for('static', filename='js/cronometro.js') }}"></script>

    <!-- Conteúdo da página -->
    <div class="group-request-container">
        <h1>{{ group['name'] }}</h1>

        {% if is_group != "none" %}
            <!-- Se o usuário já faz parte de um grupo -->
            <p>Você já faz parte de um grupo!</p>
            <p>Para solicitar uma participação no grupo <span class="group-name">{{ group['name'] }}</span>, você deve primeiro sair do seu grupo atual.</p>
            <a href="{{ url_for('groups') }}" class="back-button">Voltar</a>
            <a href="{{ url_for('group_detail', group_id=current_group_id) }}">Grupo Atual</a>
        {% else %}
            <!-- Se o usuário não faz parte de um grupo -->
            <p>Você não faz parte deste grupo.</p>
            <p>Gostaria de enviar uma solicitação para entrar no grupo? Seu status será "Solicitando" até que o líder do grupo aceite sua entrada.</p>
            <form method="POST" action="{{ url_for('request_group_invitation', group_id=group['id']) }}">
                <button type="submit">Sim</button>
            </form>
            <a href="{{ url_for('groups') }}">Não</a>
        {% endif %}
    </div>
</body>
</html>