<!-- menu.html -->
<div class="menu-container">
    <!-- Logo -->
    <div class="logo-container">
        <img src="{{ url_for('static', filename='imagens/logo.png') }}" class="logo" alt="Logo">
    </div>

    <!-- Menu -->
    <nav>
        <ul>
            <!-- Ícone de Home -->
            <li>
                <a href="{{ url_for('home') }}" 
                   class="{% if request.path == '/home' or request.path == '/home-avaliador' %}active{% endif %}">
                    <i class="fas fa-home"></i>
                </a>
            </li>
            <!-- Ícone de Gráficos -->
            <li>
                <a href="{{ url_for('graficos') }}" class="{% if request.path == '/graficos' %}active{% endif %}">
                    <i class="fas fa-chart-bar"></i>
                </a>
            </li>
            <!-- Ícone de Notificações -->
            <li>
                <a href="{{ url_for('notificacoes') }}" class="{% if request.path == '/notificacoes' %}active{% endif %}">
                    <i class="fas fa-bell" id="notification-icon"></i>
                </a>
            </li>
        </ul>
        <div class="user-info">
            <a href="/logout" class="logout-link">
                <i class="fas fa-sign-out-alt logout-icon"></i>
            </a>
            <div class="tooltip">Logout</div>
        </div>
    </nav>
</div>

<!-- Script para verificar notificações -->
<script>
    // Função para verificar novas notificações
    function verificarNotificacoes() {
        fetch('/notificacoes/verificar')
            .then(response => response.json())
            .then(data => {
                const notificationLink = document.querySelector('a[href="{{ url_for('notificacoes') }}"]');
                const notificationIcon = document.getElementById('notification-icon');
                if (data.has_new) {
                    notificationLink.classList.add('has-notifications');
                    notificationIcon.style.color = '#ff8c42'; // Laranja escuro
                } else {
                    notificationLink.classList.remove('has-notifications');
                    notificationIcon.style.color = '#fff'; // Volta ao normal
                }
            });
    }

    // Verifica novas notificações a cada 10 segundos
    setInterval(verificarNotificacoes, 10000);

    // Verifica novas notificações ao carregar a página
    verificarNotificacoes();
</script>