<!-- menu.html -->
<div class="menu-container">
    <!-- Logo -->
    <div class="logo-container">
        <img src="{{ url_for('static', filename='imagens/logo.png') }}" class="logo" alt="Logo">
    </div>

    <!-- Menu -->
    <nav>
        <ul>
            <!-- Ícone de Home -->
            <li>
                <a href="{{ url_for('home') }}" 
                   class="{% if request.path == '/home' or request.path == '/home-avaliador' %}active{% endif %}">
                    <i class="fas fa-home"></i>
                </a>
            </li>
            <!-- Ícone de Gráficos -->
            <li>
                <a href="{{ url_for('graficos') }}" class="{% if request.path == '/graficos' %}active{% endif %}">
                    <i class="fas fa-chart-bar"></i>
                </a>
            </li>
            <!-- Ícone de Notificações -->
            <li>
                <a href="{{ url_for('notificacoes') }}" class="{% if request.path == '/notificacoes' %}active{% endif %}">
                    <i class="fas fa-bell" id="notification-icon"></i>
                </a>
            </li>
        </ul>
        <div class="user-info">
            <a href="/logout" class="logout-link">
                <i class="fas fa-sign-out-alt logout-icon"></i>
            </a>
            <div class="tooltip">Logout</div>
        </div>
    </nav>
</div>